<h2>LOGIN</h2>
<form method="POST" action="/signin">
  <label>Username</label>
  <input type="email" name="username" placeholder="Enter your Username" />

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password" />
  <button>Sign In</button>
</form>